.button {
    font: inherit;
    padding: 0.5rem 1.5rem;
    border: 1px solid #ff0055;
    border-radius: 4px;
    background: #ff0055;
    color: white;
    cursor: pointer;
    margin-right: 1rem;
    text-decoration: none;
    display: inline-block;
  }
  
  .button:focus {
    outline: none;
  }
  
  .button:hover,
  .button:active {
    background: #ff4382;
    border-color: #ff4382;
  }
  
  .button--inverse {
    color: white;
    background: #0598fa;
    border-color: #0598fa;
  }
  
  .button--inverse:hover,
  .button--inverse:active {
    color: white;
    background: #3bb1ff;
    border-color: #3bb1ff;
  }
  
  .button--danger {
    background: #ff0000;
    border-color: #ff0000;
  }
  
  .button--danger:hover,
  .button--danger:active {
    background: #fd4d4d;
    border-color: #fd4d4d;
  }
  
  .button:disabled,
  .button:hover:disabled,
  .button:active:disabled {
    background: #ccc;
    color: #979797;
    border-color: #ccc;
    cursor: not-allowed;
  }
  
  .button--small {
    font-size: 0.8rem;
  }
  
  .button--big {
    font-size: 1.5rem;
  }